@model MVC_CC9.Models.Customer
@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
    </tr>

    <tr>
        <th>
            @Html.DisplayFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayFor(model => model.City)
        </th>
        <th>
            @Html.DisplayFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayFor(model => model.Phone)
        </th>
    </tr>
    
</table>

