@model MVC_CC9.Models.Movies
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
<div>
    @Html.LabelFor(m => m.movieName)
    @Html.TextBoxFor(m => m.movieName)
</div>
<div>
     @Html.LabelFor(m => m.DirectorName)
    @Html.TextBoxFor(m => m.DirectorName)
</div>
<div>
    @Html.LabelFor(m => m.release)
    @Html.TextBoxFor(m => m.release, "{0:yyyy-MM-dd}", new { type = "date" })
</div>
<br />
<input type="submit" value="Save" />}

