@model IEnumerable<MVC_CC9.Models.Movies>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Movie", "Create")
</p>

<table class="table table-bordered">
    <tr>
        <th>Movie ID</th>
        <th>Movie Name</th>
        <th>Director</th>
        <th>Date of Release</th>
        <th>Actions</th>
    </tr>

    @foreach (var movie in Model)
    {
        <tr>
            <td>@movie.mid</td>
            <td>@movie.movieName</td>
            <td>@movie.DirectorName</td>
            <td>@movie.release.ToShortDateString()</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = movie.mid }) |
                @Html.ActionLink("Delete", "Delete", new { id = movie.mid })
            </td>
        </tr>
    }
</table>

